<p>welcome works!</p>

<p>codage interne (key/value) de l'enum Genre:</p>
<div *ngFor="let g of Genre | keyvalue"> 
    key={{g.key}} value={{g.value}}
</div>
<hr/>
<p>liste des valeurs l'enum Genre:</p>
<span *ngFor="let sk of GenreStringKeys"> {{sk}} &nbsp;</span>
<hr/>
<p>choix via boutons radios:</p>
<div *ngFor="let k of GenreNumberKeys"> 
    <input type="radio" [(ngModel)]="genre" [value]="k" /> {{k}} {{Genre[k]}}
</div>
<hr/>
<p>choix via select/options:</p>
<select [(ngModel)]="genre">
   <option *ngFor="let k of GenreNumberKeys" [ngValue]="k"> {{Genre[k]}} </option>
</select>
<hr/>
genre : {{genre}} {{Genre[genre]}} 

