<p>basic works!</p>

<a routerLink="/basic/calculatrice/simple" >calculatrice simple</a><br/>
<a routerLink="/basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br/>
<a routerLink="/basic/tva" >tva</a><br/>

<!-- router-outlet de second niveau (children) 
     qui sera automatiquement remplacé par le sous-sous-composant
    calculatrice ou tva selon la route courante -->
<router-outlet></router-outlet>

<!--
<toggle-panel title="calculatrice">
    <app-calculatrice></app-calculatrice>
</toggle-panel>

<toggle-panel title="tva">
   <app-tva></app-tva>
</toggle-panel>
-->