<h3>login</h3>
<form #formLogin="ngForm">
<label>username:</label>
   <input [(ngModel)]="login.username" name="username" required  pattern="^[a-zA-Z].+" /> 
    (ex: admin1)  <br/>
<label>password:</label>
   <input [(ngModel)]="login.password" name="password" required minlength="3" /> 
   (ex: pwdadmin1) <br/>
<label>roles:</label>
    <input [(ngModel)]="login.roles" name="roles" required  /> 
    (ex: admin)  <br/>
<input type="button" value="login" (click)="onLogin()"
[disabled]="!formLogin.form.valid" />
      <br/>
</form>
message: <span [style.color]="sessionService.isConnected?'green':'red'">{{message}}</span>
