<p>student</p>
<div class="row">
    <div class="col-sm-6">
        <!-- tableau des Students existants -->
        <table border="1">
            <tr><th>ID</th><th>firstName</th><th>lastName</th><th>enrollmentDate</th></tr>
            <tr *ngFor="let s of studentList" (click)="onSelect(s)"
                [class.selected]="s==selectedStudent">
                <td>{{s.id}}</td>
                <td>{{s.firstMidName}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.enrollmentDate}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <!-- formulaire de mise à jour d'un Student selectionné  -->
      <form>
        <label>id:</label><input [(ngModel)]="student.id" name="id"/><br/>
        <label>firstMidName:</label><input [(ngModel)]="student.firstMidName" name="firstMidName"/><br/>
        <label>lastName:</label><input [(ngModel)]="student.lastName" name="lastName" /><br/>
        <label>enrollmentDate:</label><input [(ngModel)]="student.enrollmentDate" name="enrollmentDate"/><br/>
        <button>update/put</button> &nbsp; 
        <button>new</button> &nbsp; 
        <button>add/post</button> &nbsp; 
        <button>delete</button>
     </form>
    </div>
</div>
