<h3>student</h3>
<div class="row">
    <div class="col-sm-6">
        <!-- tableau des Students existants -->
        <table border="1">
            <tr><th>ID</th><th>firstName</th><th>lastName</th><th>enrollmentDate</th></tr>
            <tr *ngFor="let s of studentList" (click)="onSelect(s)"
                [class.selected]="s==selectedStudent">
                <td>{{s.id}}</td>
                <td>{{s.firstMidName}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.enrollmentDate}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <!-- formulaire de mise à jour d'un Student selectionné  -->
      <form #myForm="ngForm">
        <div class="row mt-1">
            <label class="col-sm-4 text-sm-end">id:</label>
            <label class="col-sm-8">{{student.id}}</label>
        </div>
        <div class="row mt-1">    
            <label class="col-sm-4 text-sm-end">firstMidName:</label>
            <div class="col-sm-8">
                <input [(ngModel)]="student.firstMidName" name="firstMidName" 
                        required class="form-control"/>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-sm-4 text-sm-end">lastName:</label>
            <div class="col-sm-8">
                 <input [(ngModel)]="student.lastName" name="lastName" 
                        required class="form-control"/>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-sm-4 text-sm-end">enrollmentDate:</label>
            <div class="col-sm-8">
                <input [(ngModel)]="student.enrollmentDate" name="enrollmentDate" 
                       required class="form-control"/>
            </div>
        </div>
        <button (click)="onUpdate()" [disabled]="selectedStudent==null || !myForm.form.valid">update/put</button> &nbsp; 
        <button (click)="onNew()">new</button> &nbsp; 
        <button (click)="onAdd()" [disabled]="selectedStudent!=null || !myForm.form.valid">add/post</button> &nbsp; 
        <button (click)="onDelete()" [disabled]="selectedStudent==null">delete</button>
     </form>
     <hr/>
     {{message}}
    </div>
</div>
