<div class="bonFond">
    <p>basic works!</p>
    <app-toggle-panel title="hello">
        <label>username:</label><input [(ngModel)]="username" /><br/>
        <button (click)="onAction()" class="btn btn-primary" >hello</button> <br/>
        message: {{message | uppercase}}
    </app-toggle-panel>

    <app-toggle-panel title="calculatrice">
          <app-calculatrice></app-calculatrice>
    </app-toggle-panel>
 <!--
    <app-toggle-panel title="zz">
        <app-zz></app-zz>
    </app-toggle-panel>

    <app-toggle-panel title="tva">
        <app-tva></app-tva>
    </app-toggle-panel>
-->
<mat-tab-group>
    <mat-tab label="zz">
        <app-zz></app-zz>
    </mat-tab>

    <mat-tab label="tva">
        <app-tva></app-tva>
    </mat-tab>
</mat-tab-group>

<app-reglette width="200" (changeEvent)="onChangeCurseur($event)"></app-reglette>
curseur = {{valeurCurseur}}

</div>
