<div class="bonFond">
 <h3>calcul de tva</h3>

 <div class="row">
 <label class="col-sm-4 text-sm-end">ht :</label> 
   <div class="col-sm-8">
    <input class="form-control" type="number" (input)="onCalculTvaTtc()" [(ngModel)]="ht" /> 
   </div>
</div>

<div class="row">
 <label class="col-sm-4 text-sm-end">taux :</label> 
    <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="tauxTva" (change)="onCalculTvaTtc()">
    <option *ngFor="let t of listeTaux" [ngValue]="t">{{t}}%</option>
        </select> 
    </div>
</div>


<div *ngIf="ttc>0">
tva=<span class="enEvidence">{{tva | number:'1.0-2' }}</span><br/>
ttc=<span class="enEvidence">{{ttc | number:'1.0-2' }}</span>
</div>

</div>
